@{
    ViewBag.Title = "Main";
}

<div class="banner">
    <div>
        <div>We are Enlight Agency</div>
        <div>We specialize in web design & development</div>
    </div>
    <div class="down-arrow bounce">
        <img src="~/Content/images/down-arrow.png" />
    </div>
</div>

<div id="page-content">
    <div ng-repeat="x in homeContent">
        @*<div bind-html-compile="to_trusted(x.WidgetContent)"></div>*@
        <div bind-html-compile="x.WidgetContent"></div>
    </div>   
</div>

<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog container modal-lg" role="document">
        <div class="modal-content">
            <form ng-submit="submit(submitform)" name="submitform" enctype="multipart/form-data" ng-validate="validationOptionsSubmit">
                <div class="modal-header row">
                    <div class="col-xs-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div>
                            <a href="/"><img class="logo" src="~/Content/images/logo.png" href="/" /></a>
                            <div>FILL IN THE FIELDS TO GET A QUOTE FOR YOUR REQUESTED WORK</div>
                        </div>
                    </div>
                </div>
                <div class="modal-body row">
                    <div class="col-xs-12 col-md-4">
                        <input ng-model="addQuoteForm.name" type="text" id="name" name="name" class="quote-field" placeholder="Name" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input ng-model="addQuoteForm.email" type="email" id="email" name="email" class="quote-field" placeholder="Email" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input ng-model="addQuoteForm.phone" type="text" id="phone" name="phone" class="quote-field" placeholder="Phone" />
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12 col-md-4">
                        <select ng-model="addQuoteForm.category" id="category" name="category">
                            <option>Choose a Category</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select ng-model="addQuoteForm.type" id="type" name="type">
                            <option>Choose Type</option>
                            <option value="1">Option 4</option>
                            <option value="2">Option 5</option>
                            <option value="3">Option 6</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <textarea id="message" name="message" ng-model="addQuoteForm.message" class="quote-field autoExpand" rows='1' data-min-rows='1' placeholder="Message"></textarea>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div class="col-xs-12 col-lg-4 pull-left">
                            <p>How did you know about us?</p>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select ng-model="addQuoteForm.recommend" name="recommend" id="recommend">
                                <option>Recommendation</option>
                                <option value="1">Option 7</option>
                                <option value="2">Option 8</option>
                                <option value="3">Option 9</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <p>*Please note that the quote sent is an estimate and is subject to change based on the features of the product</p>
                        <p>{{err_msg}}</p>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <div class="quote-btn">
                            <div>
                                <div>
                                    <input type="submit" value="Send" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


