@{
    ViewBag.Title = "Main";
}

<div class="banner">
    <div>
        <div>We are Enlight Agency</div>
        <div>We specialize in web design & development</div>
    </div>
    <div class="down-arrow bounce">
        <img src="~/Content/images/down-arrow.png" />
    </div>
</div>

<div id="page-content">
    <div ng-repeat="x in homeContent">
        <div bind-html-compile="x.WidgetContent"></div>
    </div>   
</div>

<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog container modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header row">
                    <div class="col-xs-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div>
                            <a href="/"><img class="logo" src="~/Content/images/logo.png" href="/" /></a>
                            <div>FILL IN THE FIELDS TO GET A QUOTE FOR YOUR REQUESTED WORK</div>
                        </div>
                    </div>
                </div>
                <div class="modal-body row">
                    <div class="col-xs-12 col-md-4">
                        <input type="text" id="name" class="quote-field" placeholder="Name" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="email" id="email" class="quote-field" placeholder="Email" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" id="phone" class="quote-field" placeholder="Phone" />
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12 col-md-4">
                        <select>
                            <option>Choose a Category</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select>
                            <option>Choose Type</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <textarea id="msg" class="quote-field autoExpand" rows='1' data-min-rows='1' placeholder="Message"></textarea>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div class="col-xs-12 col-lg-4 pull-left">
                            <p>How did you know about us?</p>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <select>
                                <option>Recommendation</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <p>*Please note that the quote sent is an estimate and is subject to change based on the features of the product</p>
                    </div>
                    <div class="clear"></div>
                    <div class="col-xs-12">
                        <div class="quote-btn">
                            <div>
                                <div>
                                    <input type="submit" value="Send" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


