ul {
    list-style-type: none;
}

.validation-summary-errors ul {
    padding: 0;
}

.g-recaptcha > div > div {
    margin: 0 auto;
}

.g-recaptcha {
    display: inline-block;
}

.pages-table {
    max-height: 391px;
    overflow: scroll;
}
table.dataTable {
    width: 100% !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    display: none;
}
div.dataTables_wrapper div.dataTables_filter input {
    display: block;
}
.actions {
    cursor: pointer;
}